.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header{
    position: relative;
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

html{
    font-family: helvetica;
    color: white;
}
